<ion-view title="Estado de Flujos efectivo" hide-back-button="true" id="page14">
  <ion-nav-buttons side="left">
      <!-- Toggle left side menu -->
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right"  class="has-header">
    <button class="button button-royal icon ion-android-more-vertical" ng-click="create()"></button>
  </ion-nav-buttons>
  <div class="spacer" style="width: 300px; height: 40px;"></div>
    <div id="estadoDeFlujosEfectivo-button-bar9" class="button-bar"></div>
    <div class="list card" id="estadoDeFlujosEfectivo-card211" ng-show="showComparativo" ng-hide="hideComparativo">
      <div id="estadoDeFlujosEfectivo-container445" class="parent">
 
        <div id="estadoDeFlujosEfectivo-container444" class="row">
          <div id="estadoDeFlujosEfectivo-container443" class="row">
            <div id="estadoDeFlujosEfectivo-container441" class="col-50">
              <button id="estadoDeFlujosEfectivo-button88" ng-click="comparativoFlujo()" style="font-size:15px;" class="button button-light button-block">Comparativo</button>
            </div>
            <div id="estadoDeFlujosEfectivo-container442" class="col-50">
              <button id="estadoDeFlujosEfectivo-button89" ng-click="visualizacionFlujo()" class="button button-light button-block">Visualización</button>
            </div>
          </div>
        </div>
      </div>
      <form id="estadoDeFlujosEfectivo-form52" class="list">
        <h4 id="estadoDeFlujosEfectivo-heading39" style="color:#000000;font-weight:lighter;">Estado de Flujo efectivo de DEMO COMPANY</h4>
        <div id="estadoDeFlujosEfectivo-container452" class="card">
          <div id="estadoDeFlujosEfectivo-container448" class="row">
            <div id="estadoDeFlujosEfectivo-container447" class="col-75">
              <form id="estadoDeFlujosEfectivo-form50" class="list">
                <label class="item item-select button-select" id="estadoDeFlujosEfectivo-select52">
                  <span class="input-label">Año</span>
                  <select>
                    <option ng-repeat="item in anos">{{item.ano}}</option>
                  </select>
                </label>
              </form>
            </div>
          </div>
        </div>
      </form>
      <div id="estadoDeFlujosEfectivo-container456" class="row">
        <div id="estadoDeFlujosEfectivo-container455" class="row">
          <div id="estadoDeFlujosEfectivo-container453" class="col-33 creator-container"></div>
          <div id="estadoDeFlujosEfectivo-container518" class="col-33 creator-container"></div>
          <div id="estadoDeFlujosEfectivo-container520" class="col-33">
            <button id="estadoDeFlujosEfectivo-button114" ng-click="visualizacionFlujo()" style="font-weight:600;font-size:15px;border-radius:9px 9px 9px 9px;" class="button button-royal button-small">Buscar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="list card" id="estadoDeFlujosEfectivo-card212" ng-show="showVisualizacion" ng-hide="true">
      <div id="estadoDeFlujosEfectivo-container465" class="parent">
        <div id="estadoDeFlujosEfectivo-container464" class="row">
          <div id="estadoDeFlujosEfectivo-container463" class="row">
            <div id="estadoDeFlujosEfectivo-container461" class="col-50">
              <button id="estadoDeFlujosEfectivo-button95" ng-click="comparativoFlujo()" style="font-size:15px;" class="button button-light button-block">Comparativo</button>
            </div>
            <div id="estadoDeFlujosEfectivo-container462" class="col-50">
              <button id="estadoDeFlujosEfectivo-button96" ng-click="visualizacionFlujo()" class="button button-light button-block">Visualización</button>
            </div>
          </div>
        </div>
      </div>
      <form id="estadoDeFlujosEfectivo-form53" class="list">
        <h4 id="estadoDeFlujosEfectivo-heading42" style="color:#000000;font-weight:lighter;">Estados de Situación Financiera Comparativo de DEMO COMPANY</h4>
        <div>
          <img src="img/vvgdVBFvRzyqxYK4bdvg_CASHFLOW.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </form>
      <div id="estadoDeFlujosEfectivo-container468" class="row">
        <div id="estadoDeFlujosEfectivo-container466" class="col-50">
          <button id="estadoDeFlujosEfectivo-button97" style="color:#FFFFFF;border-radius:-37px -37px -37px -37px;" class="button button-royal button-small icon ion-android-download"></button>
        </div>
        <div id="estadoDeFlujosEfectivo-container467" class="col- creator-container"></div>
      </div>
    </div> 

    <ion-tabs class="tabs-stable tabs-icon-top tabs-energized"   id="tabsController-tabs1">
      <ion-tab   title="Financiero" icon="ion-arrow-graph-up-right"  ui-sref="sideMenuBar.estadosFinancieros" id="tabsController-tab1">
        <ion-nav-view name="tab1"></ion-nav-view>
      </ion-tab>
      <ion-tab   title="Estado Resultado" icon="ion-cash"  ui-sref="sideMenuBar.estadosRestulados" id="tabsController-tab2">
        <ion-nav-view name="tab2"></ion-nav-view>
      </ion-tab>
      <ion-tab class="active" title="Cash flow" icon="ion-ios-pie-outline"  ui-sref="sideMenuBar.estadoDeFlujosEfectivo"  id="tabsController-tab3">
        <ion-nav-view name="tab3"></ion-nav-view>
      </ion-tab>
    </ion-tabs>
</ion-view>