<ion-view title="Login" hide-nav-bar="true" hide-back-button="true" nav-transition="none">
  <ion-content padding="false" style="background: url(https://s3.amazonaws.com/ionic-io-static/E09Z33hnRfucmeVzZkea_header_two.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="banner" style="width: 100%; height: 55px; background-color:white; padding-top: 4%;  padding-left: 4%">
      <h4 style="color: #E0742F;font-weight:600; margin-top: 0%"> TGS DRIVE | SME </h4>
    </div>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <h1 style="color:#FFFFFF;font-weight:400; padding-left: 2%">Ingresar</h1>
    <form class="list" style="padding-left: 3%; padding-right: 3%">
      <label class="item item-input input-button-login">
        <span class="input-label">USUARIO </span>
        <input type="text" placeholder="Usuario" style="margin-left: 10%">
      </label>
    </form>
    <form class="list" style="padding-left: 3%; padding-right: 3%">
      <label class="item item-input input-button-login">
        <span class="input-label">PASSWORD</span>
        <input type="password" placeholder="Password" style="margin-left: 10%">
      </label>
    </form>
    <a ui-sref="sideMenuBar.bienvenido()" style="font-size:24px;" class="button  button-large button-block login-button">Ingresar </a>

    <div class="spacer" style="height: 100px;"></div>
    <div class="spacer" style="height: 100px;"></div>
    <div class="list card manual-card-fullwidth background-login">
      <h1 style="color:#676A6C;font-weight:300;text-align:center;">Nosotros</h1>
      <div class="item item-body background-login">
        <div class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#AEAEAE;">TGS Group es una sociedad de profesionales chilena liderada por especialistas altamente calificados y con un profundo conocimiento de los principales sectores industriales de nuestro país. Entendemos la realidad actual de nuestro mercado, actuamos
            con integridad y procuramos entregar nuestros servicios bajo las más exigentes estándares profesionales.</p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/okMAHbxeTDqewiRKKMat_TGSGROUP.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
  </ion-content>
</ion-view>